[Unit]
Description=Job spooling tools
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/atd
ExecStart=/usr/sbin/atd -f

[Install]
WantedBy=multi-user.target
